.barImage{
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 2px solid black;
    padding: 0 auto;
    margin: 0px 0px 10px 0px;

}

.starImage{
    width: 100%;
    max-width: 200px;
    height: auto;
    padding: 0 auto;
    margin-top: -10px;
    margin-left: 10px;
}

.container{
    margin-top: 20px;
    background-color: #212529;
    color: white;
}

.divLine{
    border: 2px solid black;
}
