<div class="container" *ngIf="bar$ | async as barResponse">
	<br><br>
	<div class="row">
		<div  class="col-md-11">
			<h3>
				{{barResponse.name }} - <img alt="" src="\assets\images\stars{{barResponse.score}}.png" class="starImage "/>
			</h3>
		</div>
		
		<div class="col-md-1">
			<a class="nav-link btn btn-sm btn-outline-secondary" routerLink="/bars">Back</a>
		</div>
	</div>
	<hr class="divLine">
	<div class="row">
		<div class="col-md-7 bar-description">
			<dl>
				<dt>
					Cuit
				</dt>
				<dd>
					{{barResponse.cuit}}
				</dd>
				<dt>
					Schedule
				</dt>
				<dd>
					{{barResponse.attentionHours}}
				</dd>
				<dt>
					Address
				</dt>
				<dd>
					{{barResponse.address}}
				</dd>
				<dt>
					E-Mail
				</dt>
				<dd>
					{{barResponse.email || '-'}}
				</dd>
				<dt>
					Has private parking?
				</dt>
				<dd>
					{{barResponse.parking}}
				</dd>
			</dl>
		</div>
		<div class="col-md-5">
			<img alt="Bootstrap Image Preview" src="\assets\images\bar01.jpg" class="barImage "/>
		</div>
	</div>
</div>