.barImage{
    width: 110%;
    max-width: 500px;
    height: auto;
    border: 2px solid black;
    padding: 0 auto;
}

.starImage{
    width: 100%;
    max-width: 30px;
    background-color: #212529;
    background: #212529;
    height: auto;
    padding: 0 auto;
}

.container{
    margin-top: 20px;
    background-color: #212529;
    color: white;
}

.bar-description{  
}

.divLine{
    border: 2px solid black;
}
